input {
    margin-bottom: 1rem;
}
#login {
    margin-top: 10rem;
}
#main {
    display: none;
}
#explorer {
    height: 100%;
}
.list-file, .list-up,  .text, .plain, .x-empty{
    cursor: pointer;
    padding-left: 40px;
    background: transparent url(../img/file.png) center left no-repeat;
    background-size: 32px;
}
.zip, gzip {background: transparent url(../img/zip.png) center left no-repeat;background-size: 32px;}
.xml {background: transparent url(../img/xml.png) center left no-repeat;background-size: 32px;}
.pdf {background: transparent url(../img/pdf.png) center left no-repeat;background-size: 32px;}
.image {background: transparent url(../img/image.png) center left no-repeat;background-size: 32px;}
.video {background: transparent url(../img/video.png) center left no-repeat;background-size: 32px;}
.x-php {background: transparent url(../img/php.png) center left no-repeat;background-size: 32px;}
.html {background: transparent url(../img/html.png) center left no-repeat;background-size: 32px;}
.directory {background: transparent url(../img/directory.png) center left no-repeat;background-size: 32px;}
.list-up {background: transparent url(../img/folder-up.png) center left no-repeat;background-size: 32px;}
#toolBar img, .btn img {width: 20px;}
.action {text-align:left;}
#fileInfo{text-align:center;width:100%;}
#title {
    text-align: center;
}
#title img {
    width: 128px;
    height: auto;
}
#title h1 {
    margin: 1rem 0 2rem 0;
    font-weight: bold;
}
#modalWait{
    display:none;
    background:rgba(187,204,211,0.5) url(../img/loader.gif) center no-repeat;
    background-size: 30%;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1060;
}
#textEditor {
    display:none;
    background-color:#eee;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1050;
}
#pathEditor{line-height:34px;}
#bodyEditor{height:calc(100% - 40px);}
#editor{width:100%;}
.CodeMirror {
  	height: 100% !important;
}
.list-group-item {
    background-color: #fff;
    padding: 0 0 0 2rem!important;
    line-height: 3.5rem;
}
.list-group-item div {
    background-color: #fff;
}
/*.action {display:none;}*/
@media only screen and (max-width: 767px) {
    #login {margin-top:2rem;}
    .navbar-form{margin-top:0;margin-bottom:0;margin-left:0;border:0 solid transparent;}
}
