input {
    margin-bottom: 1rem;
}
#login {
    margin-top: 20rem;
}
#main {
    display: none;
}
#explorer {
    height: 100%;
}
.list-file, .list-up,  .text, .plain, .x-empty{
    cursor: pointer;
    padding-left: 40px;
    background: transparent url(../img/file.png) center left no-repeat;
    background-size: 32px;
}
.zip, gzip {background: transparent url(../img/zip.png) center left no-repeat;background-size: 32px;}
.xml {background: transparent url(../img/xml.png) center left no-repeat;background-size: 32px;}
.pdf {background: transparent url(../img/pdf.png) center left no-repeat;background-size: 32px;}
.image {background: transparent url(../img/image.png) center left no-repeat;background-size: 32px;}
.video {background: transparent url(../img/video.png) center left no-repeat;background-size: 32px;}
.x-php {background: transparent url(../img/php.png) center left no-repeat;background-size: 32px;}
.html {background: transparent url(../img/html.png) center left no-repeat;background-size: 32px;}
.directory {background: transparent url(../img/directory.png) center left no-repeat;background-size: 32px;}
.list-up {background: transparent url(../img/folder-up.png) center left no-repeat;background-size: 32px;}
#toolBar img, .btn img {width: 20px;}
.action {text-align:left;}
#fileInfo{text-align:center;width:100%;}
/*.action {display:none;}*/
@media only screen and (max-width: 767px) {
    #login {margin-top:2rem;}
    .navbar-form{margin-top:0;margin-bottom:0;margin-left:0;border:0 solid transparent;}
}
